doctype html
html
  head
    title Welcome to Splash!
    link(rel="stylesheet", href="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.css", type="text/css")
    script(src="https://cdn.fluidplayer.com/v2/current/fluidplayer.min.js")
  body
    h1 Welcome To Splash!
    video(id='main-player',controls, source src='', type='video/mp4', style="width: 640px; height: 360px;")
    script(type="text/javascript") fluidPlayer('main-player'); console.log("player-load success");
    h2 video list
    button(type='button', id='backButton', value='go back', onClick="upperFolder()")
    table
      thead
        th name
        th size
        th extension
        th type
        th interaction
      tbody(id='tbody')
    script(src="restFrontHome.js")
    script getVodList(); 
    
 
  
